.body {
  text-align: center;
  background-color: lightsteelblue;
  height: 100%;
  background: #000000;
  position:relative;
}
#contenido_pagina {
  min-height: 80vh;
}
input:checked + label {
  font-weight: bold;
}  
.boton {
  background: #4e6171;
  color: white;
  border-color: slategray;
  height: 36px;
  width: 90px;
  font-size: 16px;  
  padding-bottom: 10px;
}
.texto_cabecera_atencion {
  background-color: darkred;
  font-size: 30px;
  color:whitesmoke;
  text-align: center;
  margin-bottom: 0px;
}
.texto_cabecera {
  background-color: #008193;
  font-size: 30px;
  color:whitesmoke;
  text-align: center;
  margin-bottom: 0px;
}
.contenedor_botones {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* .label {
  display: inline-block;
  width: 140 px;
  text-align: right;
} */
#contenido_pagina_admin {
  min-height: 70vh;
}
#contenido_pagina_admin_demo {
  min-height: 67vh;
}
.row_matriz {
  height: calc(100% - 150px);
}
#mensaje {
  height: 200px;
}
.card {
  background-color: #eee; 
  border-radius: 6px;
  height: 100%;
   margin-top: 10px;
/*  margin-bottom: 10px;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
  padding: 15px;
  font-size: 15px;
} 
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-title {
  color: #008193;
  font-style: italic;
  font-weight: 700;
}
.container-home {
  padding-top: 10px !important;
}   
.jumbotron {
  background-color:#008193 !important;
}  
#header_jumbotron {
    padding-bottom: 10px;
    padding-top: 10px;
}
.jumbotron h1 {
    font-size: 80px !important;
    font-family: serif !important;
}
.brand-home {
/*  font-size: 32px !important;*/
  color: #ffffff !important;
  text-shadow: 4px 4px 8px #000 !important;
  text-align: center;
}
.list-group-item
{
  padding-top: 0px !important;
  overflow:hidden;  
  position: relative;
  display: block;
/*  font-size: 12px;
  height: 20px;*/
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #e5f6f9;
 
}

.tab-content {
    border-left: 2px solid #e5f6f9;
    border-right: 2px solid #e5f6f9;
    padding: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #d5f6c6 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: #008193 !important;
}
.alert-success {
    background-color: #008193 !important;
    border-color: white !important;
    color: white !important;
}
.alert-danger {
    background-color: #b94a48 !important;
    border-color: white !important;
    color: white !important;
}
.ancho_fila {
  height: 70px;
}
.alert p {
    text-align: center;
    font-family: CAlibri, Arial, Helvetica, Verdana;
    font-size: 16px;
}
.alert_demo {
    margin-top: 20%;
}
.gc-container {
   overflow: auto;
   margin: 0 auto;
   max-width: 850px ! important;   
}
.gc-container_distrib {
   max-width: 850px ! important;   
}
.flexigrid .pReload {
    visibility: hidden !important;
}
.flexigrid div.fbutton span.vaciar {
    background: url(garbage.png) no-repeat ! important;
}
.flexigrid div.fbutton span.comparar {
    background: url(comparative.png) no-repeat ! important;
}
.flexigrid div.fbutton span.matriz {
    background: url(dispersion.png) no-repeat ! important;
}
.flexigrid a {
    color: #194219 !important;
    text-decoration: none;
}
.dataTablesContainer {
/*  min-height: 400px !important;*/
  display: inline-block ! important;
  font-size: 12px ! important;
  width: auto ! important;
  padding-right: 10px;
  padding-left: 20px;
}

.dataTables_wrapper .ui-toolbar {
   padding: 0px ! important; 
}
.dataTables_filter {
/*text-align: left ! important;
float:left ! important;
width: 100% ! important;*/
display: none;
}
.crud_page {
/*  min-height: 400px !important;*/
  display: inline-block ! important;
  font-size: 12px ! important;
  width: auto ! important;
  padding: 1px 0px ! important;
}
/*.form-display-as-box {
    width: 90px ! important;
}*/
.grafica {
  width: 100%;
  min-height: 400px;
} 
.grafica-compara {
  max-width: 800px; 
  display: inline-block;
} 
.form-actions {
    margin: 0;
 /*   background-color: transparent;*/
    text-align: center;
    padding-top: 20px;
  background-color: lightslategray; /*#eee;*/
}
.ftitle_ppal { 
  background-color: #000000 ! important; 
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.datatables div.form-div {
    font-size: 13px ! important;
    padding-left: 10px;
    padding-right: 10px;    
    padding-bottom: 10px;    
    font-family: Calibri, Arial, Helvetica, Verdana  ! important;
}
.form-title-left {
    padding-left: 10px ! important;
}
.flexigrid {
    font-size: 13px ! important;
    padding-left: 10px;
    padding-right: 10px;    
/*    padding-top: 0px ! important;*/
    padding-bottom: 10px;    
    font-family: Calibri, Arial, Helvetica, Verdana  ! important;
}
.flexigrid div.form-div {
    font-family: Calibri, Arial, Helvetica, Verdana  ! important;
}
/*.form-div {
  padding-bottom: 100px !important;
}*/
.chosen-container .chosen-results {
  max-height: 140px ! important;
}  
.flexigrid div.form-div input[type=text]{
  width: 300px ! important;
}  

.flexigrid table th {
/*  max-width: 420px;
  padding: 30px 38px 66px;*/
  background-color: #e3f791 !important;
  font-weight: normal !important;
  } 
.crud_page {
  display: inline-block ! important;
  font-size: 12px ! important;
  width: auto ! important;
  padding: 1px 0px ! important;
}  

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.form-grafica {
/*  max-width: 420px;
  padding: 30px 38px 66px;*/
  margin: 0 auto;
  background-color: #eee;
  border: 3px rgba(0,0,0,0.1);  
  } 
.bvolver {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1;
    border-radius: 6px;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    min-width: 150px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px)
{
    .ui-page
    {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
    }
}

/*select {
  text-align: center;
  box-sizing: border-box;
      outline: 0;
        box-shadow: inset 0px 1px 4px rgba(0,0,0,.2) !important;;
            border-radius: .6em  !important;
    border: 1px solid #aaa !important;
    color: #333 ;
    text-shadow: 0 1px 0 #fff ;
    background: #f9f9f9;   
    line-height: 1.4;         
}*/
.select_styled {
  text-align: center;
  box-sizing: border-box;
      outline: 0;
        box-shadow: inset 0px 1px 4px rgba(0,0,0,.2) !important;;
            border-radius: .6em  !important;
    border: 1px solid #aaa !important;
    color: #333 ;
    text-shadow: 0 1px 0 #fff ;
    background: #f9f9f9;   
    line-height: 1.4;  
    font-size: 16px;  
    height: 37px !important; 
}
.form-signin-mediano  {
  max-width: 600px;
  padding: 10px 38px 66px;
  margin: 0 auto;
  background-color: #eee; /*#eee;*/
  border: 3px rgba(0,0,0,0.1);  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  }
.form-signin-grande  {
  max-width: 95%;
/*  padding: 1.5px;*/
  margin: 0 auto;
  background-color: #eee; /*#eee;*/
/*  border: 3px rgba(0,0,0,0.1);  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px; */
  }  
.form-signin_inicio_sesion {
  max-width: 420px;
  padding: 30px 38px 30px;  /* antes decia 66 */
  margin: 0 auto;
  /*background-color: rgb(232, 241, 212); */
  background-color: #eee;
  border: 3px rgba(0,0,0,0.1);  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  }
.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;  
  margin: 0 auto;
  background-color: #eee; /*rgb(232, 241, 212); *//*#eee;*/
  border: 3px rgba(0,0,0,0.1);  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  }
.form-signin-heading {
  text-align:center;
  color: #008193;
  font-family: CAlibri, Arial, Helvetica, Verdana;
/*  margin-bottom: 30px;*/
}
.form-signin-registro {
  text-align:center;
}
.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
.textarea_formato {
  margin-bottom: .7em;
 /*  height: 100%;*/
 box-sizing: border-box;
  background-image: none;
  /*  padding: .4em;
    margin: .5em 0;
    line-height: 1.4;*/
    font-size: 16px;
    display: block;
    width: 100%;
    outline: 0;
        box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
            border-radius: .6em /*{global-radii-blocks}*/;
    border: 1px solid #aaa /*{c-body-border}*/;
    color: #333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
    background: #f9f9f9 /*{c-body-background-color}*/;            
  font-family: CAlibri, Arial, Helvetica, Verdana ! important;
}
.blocked {
    display: block;
    width: 100%;  
}
input[type="text"] {
/*  margin-bottom: 10px;  /* 0px*/
  box-sizing: border-box;
  background-image: none;
    padding: .4em;
/*    margin: .5em 0;
    line-height: 1.4;*/
    font-size: 16px;
/*    display: block;
    width: 100%;*/
    outline: 0;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    border-radius: .6em /*{global-radii-blocks}*/;
    border: 1px solid #aaa /*{c-body-border}*/;
    color: #333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
    background: #f9f9f9 /*{c-body-background-color}*/;            
  font-family: CAlibri, Arial, Helvetica, Verdana ! important;
}

input[type="password"] {
/*  margin-bottom: 0px;*/
  box-sizing: border-box;
  background-image: none;
    padding: .4em;
/*    margin: .5em 0;
    line-height: 1.4;*/
    font-size: 16px;
    display: block;
    width: 100%;
    outline: 0;
        box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
            border-radius: .6em /*{global-radii-blocks}*/;
    border: 1px solid #aaa /*{c-body-border}*/;
    color: #333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
    background: #f9f9f9 /*{c-body-background-color}*/;            
  font-family: CAlibri, Arial, Helvetica, Verdana ! important;
}
.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.linea_angosta {
  height: 1px;
  border-top: 0;
  background-color: #aaa;
  margin-top: 10px;
}

/**************** developer *****************/
.Lines4 {
  background-color: #e5f6f9;
  height: 2px;
  margin-bottom: 0px ! important; 
  /*width: 728px;
  position: relative;*/
}
.Lines2 {
  background-color: #ff6633;
  height: 2px;
  margin-bottom: 10px ! important; 
  /*width: 728px;
  position: relative;*/
}
.Lines1 {
  background-color: #906;
  height: 2px;
  /*width: 728px;
  position: relative;*/
}
.Lines3 {
  background-color: #ff6633;
  height: 2px;
  margin-top: 10px ! important; 
  /*width: 728px;
  position: relative;*/
}
.colorgraph_header{
  margin-bottom: 20px ! important; 
  margin-top: 0px ! important; 
}
.colorgraph_footer{
  margin-bottom: 0px ! important; 
  margin-top: 0px ! important; 
}

/* Menu */
.navbar {
    border-radius: 0;
    font-size: 14px;
    margin-top: 0px ! important; 
  /*  height: 80px; */
}
.navbar-top {
      margin-bottom: 0px ! important; 
  /*    border-bottom: 4px #9ea21d !important;*/
      border-style: solid !important;
}
.navbar-top-sin-margen {
      margin-bottom: 0px ! important; 
      border-bottom: 4px #9ea21d !important;
      border-style: solid !important;
}



.navbar-bottom {
      margin-bottom: 0px ! important; 
/*      border-top: 4px #9ea21d !important;
      border-style: solid !important;*/
}
.navbar-new {
  /*background-color: #66ad44;*/
  background-color: #363735;
/*  border-color: #9ea21d !important;*/
/*  font-family: CAlibri, Arial, Helvetica, Verdana;    */
}
.navbar-brand-header {
  font-family: serif !important;
  font-size: 25px !important;
}
.navbar-header-centrado {
   left: 50%;
   position: relative;
   transform: translateX(-50%);
   font-size: 20px !important;
}
.centrado{
  display: flex;
  justify-content: center;  
/*    margin-left: auto;
    margin-right: auto;
 display:block;
  margin-left: auto;
  margin-right: auto;
  float: center;*/
}
.navbar-new {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: center;
/*  line-height: 30px;*/
}
.navbar-brand {
  color: #ffffff;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  vertical-align: center;
  line-height: 30px;
  text-shadow: 2px 2px 8px #000 !important;
}
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
  color: #ffffff;
}
.navbar-new .navbar-text {
  color: #ffffff;
}
.navbar-new .navbar-nav > li > a {
  color: #ffffff;
}
/*.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
  color: #ffffff;
}*/
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #008193 !important;
}
/*.nav > li > a:active {
  text-decoration: bold;
  background-color: #66ad44 !important;
}*/


.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
  color: #ffffff;
  text-decoration: underline;
  background-color: #008193 !important;
}


/*.navbar-new .navbar-nav > .open > a,
.navbar-new .navbar-nav > .open > a:hover,
.navbar-new .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #008193;
}*/
.alert p {
    text-align: center;
    font-family: CAlibri, Arial, Helvetica, Verdana;
    font-size: 16px;
}
.navbar-new .navbar-toggle {
  border-color: #008193;
}
.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
  background-color: #008193;
}
.navbar-new .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-new .navbar-collapse,
.navbar-new .navbar-form {
  border-color: #ffffff;
}
.navbar-new .navbar-link {
  color: #ffffff;
}
.navbar-new .navbar-link:hover {
  color: #ffffff;
}
.clase_t_accesos {
  font-size: 14px;
  color: #ffffff;
  padding-right: 10px;
}
.clase_encabe {
  padding-right: 10px !important ;
  font-family: Calibri, Arial, Helvetica, Verdana;
  font-weight: bold;
  font-size: 14px;
}
.clase_label {
  font-family: Calibri, Arial, Helvetica, Verdana;
  color:#31708f;
  text-align: right !important;
}
.clase_observacion {
    font-family: Calibri, Arial, Helvetica, Verdana;
    color:#31708f;
  }
.clase_valor {
    font-family: Calibri, Arial, Helvetica, Verdana;
    font-weight: bold;
    font-size: 17px;
    color:#31708f;
  }

@media (max-width: 767px) {
  .navbar-new .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #008193;
  }
}

}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#008193;
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363735;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 9999;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #008193;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*@media screen and (min-width: 768px) {
  .modal-dialog {
      left: 50%;
      right: auto;
      width: 624px;
  }
}*/
.modal-dialog {
  position:absolute;
  top:50% !important;
  left:0% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  width:90%;
  height:80%;
}
.modal-title {
  color: #008193;
}
}